* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    overflow-x: hidden;
    font-family: "Cormorant Garamond", serif;
    font-family: "Nunito", sans-serif;
    font-family: "Poppins", sans-serif;
}

a {
    margin: 0;
    padding: 0;
}

.section {
    background-color: #f7f7fc;
    height: 340px;
}

.header {
    max-width: 550px;
    height: 136px;
    margin: auto;
}

.header__inner {
    height: 100%;
    display: flex;
    justify-content: center;
}

.header__inner-text {
    width: 440px;
}

.logo {
    padding: 16px 0px 10px 0px;
}

.header__title {
    padding: 0 0 16px 0;
    color: #0576f0;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.75px;
}

.header__issue {
    padding: 0 0 16px 0;
}

.header__inner-img {
    height: 100%;
    display: flex;
    align-items: center;
}
